asttokens
attrs
beautifulsoup4
bleach
bzip2
ca-certificates
colorama
comm
debugpy
decorator
defusedxml
executing
ipykernel
ipython
ipython_pygments_lexers
jedi
jinja2
jsonschema
jsonschema-specifications
jupyter_client
jupyter_core
jupyterlab_pygments
libffi
libsodium
markupsafe
matplotlib-inline
mistune
nbclient
nbconvert
nbconvert-core
nbconvert-pandoc
nbformat
nest-asyncio
openssl
packaging
pandoc
pandocfilters
parso
pip
platformdirs
prompt-toolkit
prompt_toolkit
psutil
pure_eval
pygments
python
python-dateutil
python-fastjsonschema
pywin32
pyzmq
referencing
rpds-py
setuptools
six
soupsieve
sqlite
stack_data
tinycss2
tk
tornado
traitlets
typing_extensions
tzdata
vc
vs2015_runtime
wcwidth
webencodings
wheel
xz
zeromq
zlib
